/* see https://github.com/twbs/examples/blob/main/react-nextjs/src/styles/styles.scss */
@import "bootstrap/scss/bootstrap.scss";

// see VZ branding guide: https://cityofaustin.sharepoint.com/sites/tpwPIO/Vision%20Zero%20Branding%20Files/Forms/AllItems.aspx?id=%2Fsites%2FtpwPIO%2FVision%20Zero%20Branding%20Files%2FBranding%20Guide%2FVision%20Zero%20Branding%20Guide%202024%2Epdf&viewid=4b5e3825%2D0fa4%2D431d%2D8f79%2D3a7fd7f57dcc&parent=%2Fsites%2FtpwPIO%2FVision%20Zero%20Branding%20Files%2FBranding%20Guide
$vz-sunshine: #edb41f;
$vz-sunshine-darker: #b38715;
$vz-asphalt: #444444;
$vz-peacock: #468189;
$vz-sand: #eee6de;

.bg-vz-sunshine {
  background-color: $vz-sunshine;
  border-color: $vz-sunshine !important;
}

.bg-vz-sunshine:hover {
  background-color: $vz-sunshine-darker;
  border-color: $vz-sunshine-darker !important;
}

.text-vz-asphalt {
  color: $vz-asphalt;
}

.app-sidebar {
  transition: width 0.2s ease-out;
  overflow-X: hidden;
}

.app-sidebar-expanded {
  width: 19rem !important;
}

.app-sidebar-collapsed {
  width: 4.6rem !important;
}

.mapboxgl-map {
  border-radius: 0.375rem;
}

.crash-header-card-body {
  height: 400px;
  overflow-y: auto;
}

.sidebar-toggle-open {
  transform: rotate(180deg);
  transition: transform 0.2s ease-out; /* Optional: Smooth transition */
}

.sidebar-toggle-closed {
  transform: rotate(360deg);
  transition: transform 0.2s ease-out; /* Optional: Smooth transition */
}

.react-datepicker__calendar-icon {
  margin-top: 0.2rem;
}

.special-filter {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.special-filter-open {
  /* Adjust to be just above content height */
  max-height: 25rem;
}

.card-header,
.card-footer {
  border: none;
}

.dashboard-link-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
