/*
* VZ branding colors - todo: remove these 
* see: https://cityofaustin.sharepoint.com/sites/tpwPIO/Vision%20Zero%20Branding%20Files/Forms/AllItems.aspx?id=%2Fsites%2FtpwPIO%2FVision%20Zero%20Branding%20Files%2FBranding%20Guide%2FVision%20Zero%20Branding%20Guide%202024%2Epdf&viewid=4b5e3825%2D0fa4%2D431d%2D8f79%2D3a7fd7f57dcc&parent=%2Fsites%2FtpwPIO%2FVision%20Zero%20Branding%20Files%2FBranding%20Guide
*/
$vz-sunshine: #edb41f;
$vz-sunshine-darker: #b38715;
$vz-asphalt: #444444;
$vz-peacock: #468189;
$vz-sand: #eee6de;

/* other colors considered - todo: remove these */
$ghost-white: #f6f8ff;
$peach: #f6be9a;
$cornsilk: #faf4d3;
$timberwolf: #d6dbd2;
$lavendar: #d6d3f0;
$platinum: #e5e6e4;
$battleship: #858881;
$gunmetal: #333745;
$imperial-red: #f02d3a;
$celtic-blue: #226bbf;
$honolulu-blue: #0077b6;

/* current palette 
* https://coolors.co/0b2027-1276D1-7a8190-f4f5f6-09814a-dd0426-ffd22f-fbfef9
*/
$baby-powder: #fbfef9;
$rich-black: #0b2027;
$moped-blue: #1276d1;
$slate-gray: #7a8190;
$anti-flash-white: #f4f5f6;
$sea-green: #09814a;
$rojo: #dd0426;
$jonquil: #ffd22f;

/* override bootstrap with our palette */
$white: $baby-powder;
$primary: $moped-blue;
$secondary: $slate-gray;
$success: $sea-green;
$info: $moped-blue;
$warning: $jonquil;
$danger: $rojo;
$light: $anti-flash-white;
$dark: $rich-black;

.app-sidebar {
  transition: width 0.2s ease-out;
  overflow-X: hidden;
}

.app-sidebar-expanded {
  width: 19rem !important;
}

.app-sidebar-collapsed {
  width: 4.6rem !important;
}

.mapboxgl-map {
  border-radius: 0.375rem;
}

.crash-header-card-body {
  height: 400px;
  overflow-y: auto;
  border-radius: 0px !important;
}

.mapboxgl-map {
  border-radius: 0px;
}

.sidebar-toggle-open {
  transform: rotate(180deg);
  transition: transform 0.2s ease-out; /* Optional: Smooth transition */
}

.sidebar-toggle-closed {
  transform: rotate(360deg);
  transition: transform 0.2s ease-out; /* Optional: Smooth transition */
}

.react-datepicker__calendar-icon {
  margin-top: 0.2rem;
}

.special-filter {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.special-filter-open {
  /* Adjust to be just above content height */
  max-height: 25rem;
}

.card {
  border: 1px solid #e5e7eb !important;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

.card-header {
  padding: 1rem;
  border: none !important;
  background-color: inherit !important;
}

h5.card-title {
  font-size: 1.3rem !important;
  font-weight: bold;
}

.card-footer {
  background-color: inherit !important;
  border: none !important;
}

.dashboard-link-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

@import "bootstrap/scss/bootstrap.scss";
