/* our custom palette */
$baby-powder: #fbfef9;
$night: #131515;
$moped-blue: #1276d1;
$dim-gray: #6b7676;
$anti-flash-white: #f4f5f6;
$sea-green: #09814a;
$rojo: #dd0426;
$jonquil: #ffd22f;
$dark-grey: rgb(42.5, 47.5, 52.5);

/* override bootstrap palette with our palette */
$white: #ffffff;
$primary: $moped-blue;
$secondary: $dim-gray;
$success: $sea-green;
$info: $moped-blue;
$warning: $jonquil;
$danger: $rojo;
$light: $anti-flash-white;
$dark: $night;

/* override bootstrap dark mode palette */
$body-bg-dark: #0d1117;
$border-color-dark: #495057;

/* our custom vars */
$body-bg-dark-inset: #010409;
$sidebarWidth: 66px;

/* github */

// dark mode
$gh-dark-mode-muted-text: #9198a1; // like secondary color in dark mode and icon color in menu
$gh-dark-mode-list-item-bg-hover: #656c7633; // active and hovered list item
$gh-dark-mode-light-header: #151b23; // card headers

// light mode
$gh-light-mode-light-header: #f7f8fa; // card header (less than 1 deltaE from our anti-flash-white
$gh-light-mode-light-badge-bg: #dde1e5; // rendered on issue count badges over light header
$gh-light-mode-list-item-bg-hover: #818b981a; // active and hovered list item
$gh-light-mode-muted-text: #59636e; // secondary color in header and icon color in menu

// https://isotropic.co/tool/hex-color-to-css-filter/
.app-brand-img {
  filter: sepia(10%) contrast(130%);
}

[data-bs-theme="dark"] .app-brand-img {
  filter: invert(100%);
}

[data-bs-theme="light"] .app-footer {
  background-color: $light;
  color: $secondary;
}

[data-bs-theme="dark"] .app-footer {
  border: none !important;
}

.main-content-pane {
  margin-left: $sidebarWidth;
}

/* Navbar */
.app-navbar {
  [data-bs-theme="light"] & {
    background-color: $light;
  }
  [data-bs-theme="dark"] & {
    background-color: $body-bg-dark-inset;
  }
}

/* Sidebar */
.app-sidebar {
  position: fixed !important;
  margin-top: 3.85rem;
  z-index: 1040;
  left: 0;
  top: 0;
  height: 100%;
  transition:
    width 0.2s ease-out,
    box-shadow 0.3s ease-out;
  overflow-x: hidden;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  [data-bs-theme="light"] & {
    background-color: $light;
    border-right: 1px solid var(--bs-border-color);
  }
  [data-bs-theme="dark"] & {
    border-right: 1px solid $border-color-dark;
    background-color: $body-bg-dark-inset;
  }
}

.app-sidebar-expanded {
  width: 15.5rem !important;
  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.3);
}

.app-sidebar-collapsed {
  width: $sidebarWidth !important;
}

.app-sidebar .list-group-item,
.app-sidebar .list-group-item:active,
.app-sidebar .list-group-item.active,
.app-sidebar .list-group-item:focus {
  // no background color on sidebar list items
  background-color: rgba(0, 0, 0, 0);
}

.sidebar-list-item-current,
.sidebar-list-item-content:hover {
  [data-bs-theme="light"] & {
    background-color: $gh-light-mode-list-item-bg-hover;
  }
  [data-bs-theme="dark"] & {
    background-color: $gh-dark-mode-list-item-bg-hover;
  }
}

.list-group-item .sidebar-list-item-label {
  [data-bs-theme="light"] & {
    color: var(--bs-body-color);
  }
  [data-bs-theme="dark"] & {
    color: $white;
  }
}

.sidebar-list-item-icon {
  [data-bs-theme="light"] & {
    color: $gh-light-mode-muted-text;
  }
  [data-bs-theme="dark"] & {
    color: $gh-dark-mode-muted-text;
  }
}

/* sidebar animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.flex-grow-1 {
  transition: margin-left 0.3s ease-out;
}

// todo: revist this to use a lighter dark mode color?
[data-bs-theme="dark"] .bg-light-use-theme {
  background-color: $gh-dark-mode-light-header !important;
}

[data-bs-theme="light"] .bg-light-use-theme {
  background-color: $light !important;
}

[data-bs-theme="dark"] .mapboxgl-popup-tip {
  border-bottom-color: $dark-grey !important;
  border-top-color: $dark-grey !important;
}

[data-bs-theme="dark"] .mapboxgl-popup-content {
  background-color: $dark-grey !important;
}

[data-bs-theme="light"] .mapboxgl-popup-content {
  background-color: $white !important;
}

[data-bs-theme="dark"] .react-datepicker__calendar-icon {
  fill: $light;
}

[data-bs-theme="dark"] .date-preset-button {
  color: $white;
  border-color: $gh-dark-mode-light-header !important;
  background-color: $gh-dark-mode-light-header;
  &:hover,
  &:active,
  &:focus,
  &.active {
    background-color: $primary !important;
    border-color: $primary !important;
    color: $white !important;
  }
}

[data-bs-theme="light"] .date-preset-button {
  background-color: $light !important;
  border-color: $light !important;
  color: #000 !important;

  &:hover,
  &:active,
  &:focus,
  &.active {
    background-color: $primary !important;
    border-color: $primary !important;
    color: $white !important;
  }
}

/* Custom tooltip styles prevent the y-scrollbar from briefly flashing and causing a
layout shift */
.tooltip {
  position: fixed !important;
  /* Override Bootstrap's absolute positioning */
  z-index: 9999;
  pointer-events: none;
}

[data-bs-theme="light"] .edit-address-button {
  background-color: $white !important;
  border-color: $white !important;
  color: #000 !important;

  &:hover {
    background-color: $light !important;
    border-color: $light !important;
    color: #000 !important;
  }
}

[data-bs-theme="dark"] .edit-address-button {
  background-color: $body-bg-dark !important;
  border-color: $body-bg-dark !important;
  color: $white;

  &:hover {
    background-color: $dark-grey !important;
    border-color: $dark-grey !important;
  }
}

.mapboxgl-map {
  border-radius: 0.375rem;
}

.crash-header-card-body {
  height: 400px;
  overflow-y: auto;
  border-radius: 0px !important;
}

.mapboxgl-map {
  border-radius: 0px;
}

.injury-indicator-badge {
  border-radius: 50%;
  font-size: 0.9rem;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  font-weight: bold;
  color: $white;
  [data-bs-theme="dark"] & {
    outline: 1px solid white;
  }
}

.react-datepicker__calendar-icon {
  margin-top: 0.2rem;
}

.card-header {
  padding: 1rem;
  border: none !important;
  background-color: inherit !important;
}

h5.card-title {
  font-size: 1.3rem !important;
  font-weight: bold;
}

.card-footer {
  background-color: inherit !important;
  border: none !important;
}

.dashboard-link-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* datepicker has problems with overlaying incorrectly, using z-index 
to make sure it renders on top is a common fix */
.react-datepicker-popper {
  z-index: 99 !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button {
  background-color: none !important;
}

.accordion-button:hover {
  background-color: $light !important;
}

/* Hide down arrow from dropdown toggle button */
.dropdown-toggle.hide-toggle::after {
  content: none !important;
}

/* Push the top-right mapbox control container down to accomodate our custom control */
.table-map-container > .mapboxgl-ctrl-top-right {
  right: 0;
  top: 35px !important;
}

/* Pushes the mapbox control area down to make room for our custom button */
.crash-header-card-body .mapboxgl-ctrl-top-right {
  margin-top: 2.5rem;
}

/* Push the top-right mapbox control container down to accomodate our custom control */
.crash-header-card-body > .mapboxgl-ctrl-top-right {
  right: 0;
  top: 35px !important;
}

/* wrapper for custom fit-bounds control container */
.map-custom-ctrl-container-top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-bottom: 2.5rem;
}

/* Button that looks similar to a mapbox control */
.map-custom-ctrl-btn {
  background-color: #fff !important;
  color: #000 !important;
  border: none !important;
  padding: 0px !important;
  width: 29px;
  height: 29px;
  display: flex !important;
  justify-content: center;
  box-shadow: 0 0 0 2px #0000001a;
}

.map-custom-ctrl-btn:hover {
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.map-select-basemap-bottom-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin-bottom: 2.5rem;
}

.map-select-basemap-bottom-left > .card {
  box-shadow: 0 0 0 2px #0000001a;
}

/* Pushes the mapbox control area down to make room for our custom button */
.table-map-container .mapboxgl-ctrl-top-right {
  margin-top: 2.5rem;
}

.offset-header-scroll-top {
  scroll-margin-top: 55px;
}

/* enable row child elements to appear on hover over row */
.row .show-on-hover {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.row:hover .show-on-hover {
  opacity: 1;
}

@import "bootstrap/scss/bootstrap.scss";
