/*
* current palette 
*/
$baby-powder: #fbfef9;
$night: #131515;
$moped-blue: #1276d1;
$dim-gray: #6b7676;
$anti-flash-white: #f4f5f6;
$sea-green: #09814a;
$rojo: #dd0426;
$jonquil: #ffd22f;

/* override bootstrap with our palette */
$white: #ffffff;
$primary: $moped-blue;
$secondary: $dim-gray;
$success: $sea-green;
$info: $moped-blue;
$warning: $jonquil;
$danger: $rojo;
$light: $anti-flash-white;
$dark: $night;

// https://isotropic.co/tool/hex-color-to-css-filter/
.app-brand-img {
  filter: sepia(10%) contrast(130%);
}

/* dark mode overrides */
[data-bs-theme="dark"] .app-brand-img {
  filter: invert(100%);
}

[data-bs-theme="dark"] .app-navbar,
.crash-injury-indicator {
  background-color: #212529 !important;
}

[data-bs-theme="light"] .crash-injury-indicator {
  background-color: $light !important;
}

[data-bs-theme="dark"] .react-datepicker__calendar-icon {
  fill: $light;
}

[data-bs-theme="light"] .app-footer {
  background-color: $light;
  color: $secondary;
}

[data-bs-theme="dark"] .app-footer {
  border: none !important;
}

[data-bs-theme="dark"] .date-preset-button {
  color: $white;
  // bs border-color
  border-color: #495057 !important;
  // bs tertiary background
  background-color: rgb(42.5, 47.5, 52.5);

  &:hover,
  &:active,
  &:focus,
  &.active {
    background-color: $secondary !important;
    border-color: $secondary !important;
  }
}

[data-bs-theme="light"] .date-preset-button {
  background-color: $light !important;
  border-color: $light !important;
  color: #000;

  &:hover,
  &:active,
  &:focus,
  &.active {
    background-color: $secondary !important;
    border-color: $secondary !important;
  }
}

.app-sidebar {
  transition: width 0.2s ease-out;
  overflow-x: hidden;
}

.app-sidebar-expanded {
  width: 19rem !important;
}

.app-sidebar-collapsed {
  width: 4.6rem !important;
}

.mapboxgl-map {
  border-radius: 0.375rem;
}

.crash-header-card-body {
  height: 400px;
  overflow-y: auto;
  border-radius: 0px !important;
}

.mapboxgl-map {
  border-radius: 0px;
}

.injury-indicator-badge {
  border-radius: 50%;
  font-size: 0.9rem;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  font-weight: bold;
  color: $white;
}

.sidebar-toggle-open {
  transform: rotate(180deg);
  transition: transform 0.2s ease-out; // Optional: Smooth transition
}

.sidebar-toggle-closed {
  transform: rotate(360deg);
  transition: transform 0.2s ease-out; // Optional: Smooth transition
}

.react-datepicker__calendar-icon {
  margin-top: 0.2rem;
}

.special-filter {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.special-filter-open {
  /* Adjust to be just above content height */
  max-height: 25rem;
}

.card-header {
  padding: 1rem;
  border: none !important;
  background-color: inherit !important;
}

h5.card-title {
  font-size: 1.3rem !important;
  font-weight: bold;
}

.card-footer {
  background-color: inherit !important;
  border: none !important;
}

.dashboard-link-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* datepicker has problems with overlaying incorrectly, using z-index 
to make sure it renders on top is a common fix */
.react-datepicker-popper {
  z-index: 99 !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button {
  background-color: none !important;
}

.accordion-button:hover {
  background-color: $light !important;
}

/* Hide down arrow from dropdown toggle button */
.dropdown-toggle.hide-toggle::after {
  content: none !important;
}

/* Fixes the height and aspect ratio of toggle butons */
.hide-toggle {
  aspect-ratio: 1 !important;
}


@import "bootstrap/scss/bootstrap.scss";
