/*
* current palette 
*/
$baby-powder: #fbfef9;
$night: #131515;
$moped-blue: #1276d1;
$dim-gray: #6b7676;
$anti-flash-white: #f4f5f6;
$sea-green: #09814a;
$rojo: #dd0426;
$jonquil: #ffd22f;

/* override bootstrap with our palette */
$white: #ffffff;
$primary: $moped-blue;
$secondary: $dim-gray;
$success: $sea-green;
$info: $moped-blue;
$warning: $jonquil;
$danger: $rojo;
$light: $anti-flash-white;
$dark: $night;

$sidebarWidth: 4.6rem;

// https://isotropic.co/tool/hex-color-to-css-filter/
.app-brand-img {
  filter: sepia(10%) contrast(130%);
}

/* dark mode overrides */
[data-bs-theme="dark"] .app-brand-img {
  filter: invert(100%);
}

[data-bs-theme="dark"] .app-navbar,
.app-sidebar,
.crash-injury-indicator {
  background-color: #212529 !important;
}

[data-bs-theme="light"] .app-sidebar {
  background-color: $light !important;
}

[data-bs-theme="dark"] .app-sidebar {
  border-right: 1px solid #495057;
}

[data-bs-theme="light"] .crash-injury-indicator {
  background-color: $light !important;
}

[data-bs-theme="dark"] .react-datepicker__calendar-icon {
  fill: $light;
}

[data-bs-theme="light"] .app-footer {
  background-color: $light;
  color: $secondary;
}

[data-bs-theme="dark"] .app-footer {
  border: none !important;
}

[data-bs-theme="dark"] .date-preset-button {
  color: $white;
  // bs border-color
  border-color: #495057 !important;
  // bs tertiary background
  background-color: rgb(42.5, 47.5, 52.5);

  &:hover,
  &:active,
  &:focus,
  &.active {
    background-color: $secondary !important;
    border-color: $secondary !important;
  }
}

[data-bs-theme="light"] .date-preset-button {
  background-color: $light !important;
  border-color: $light !important;
  color: #000;

  &:hover,
  &:active,
  &:focus,
  &.active {
    background-color: $secondary !important;
    border-color: $secondary !important;
  }
}

// Custom tooltip styles prevent the y-scrollbar from briefly flashing
// and causing a layout shift
.tooltip {
  position: fixed !important; /* Override Bootstrap's absolute positioning */
  z-index: 9999;
  pointer-events: none;
}

.app-sidebar {
  z-index: 1050;
  left: 0;
  top: 0;
  transition:
    width 0.2s ease-out,
    box-shadow 0.3s ease-out;
  overflow-x: hidden;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.app-sidebar-expanded {
  width: 15.5rem !important;
  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.3);
}

.app-sidebar-collapsed {
  width: $sidebarWidth !important;
}

.main-content-pane {
  min-width: 0;
  margin-left: $sidebarWidth;
}

[data-bs-theme="light"] .sidebar-list-item {
  background-color: $light;
}

[data-bs-theme="dark"] .sidebar-list-item {
  background-color: #212529;
}

[data-bs-theme="light"] .sidebar-list-item-current {
  //   color: $light !important;
  background-color: #fff !important;
}

[data-bs-theme="dark"] .sidebar-list-item-current {
  color: #fff !important;
  background-color: #495057 !important;
}

[data-bs-theme="light"] .sidebar-list-item:hover {
  color: #000 !important;
}

[data-bs-theme="dark"] .sidebar-list-item:hover {
  color: #fff !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Ensure sidebar is above other content
.app-sidebar {
  position: absolute;
  z-index: 1050;
  height: 100%;
}

// Add transition for main content margin
.flex-grow-1 {
  transition: margin-left 0.3s ease-out;
}

.mapboxgl-map {
  border-radius: 0.375rem;
}

.crash-header-card-body {
  height: 400px;
  overflow-y: auto;
  border-radius: 0px !important;
}

.mapboxgl-map {
  border-radius: 0px;
}

.injury-indicator-badge {
  border-radius: 50%;
  font-size: 0.9rem;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  font-weight: bold;
  color: $white;
}

.react-datepicker__calendar-icon {
  margin-top: 0.2rem;
}

.card-header {
  padding: 1rem;
  border: none !important;
  background-color: inherit !important;
}

h5.card-title {
  font-size: 1.3rem !important;
  font-weight: bold;
}

.card-footer {
  background-color: inherit !important;
  border: none !important;
}

.dashboard-link-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* datepicker has problems with overlaying incorrectly, using z-index 
to make sure it renders on top is a common fix */
.react-datepicker-popper {
  z-index: 99 !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button {
  background-color: none !important;
}

.accordion-button:hover {
  background-color: $light !important;
}

/* Hide down arrow from dropdown toggle button */
.dropdown-toggle.hide-toggle::after {
  content: none !important;
}

@import "bootstrap/scss/bootstrap.scss";
