services:
  graphql-engine:
    image: hasura/graphql-engine:v2.43.0
    volumes:
      - ./viewer/graphql-engine-metadata:/metadata
    ports:
      - 8084:8080
    environment:
      HASURA_GRAPHQL_DATABASE_URL: postgres://visionzero:visionzero@postgis:5432/atd_vz_data
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true"
      HASURA_GRAPHQL_CONSOLE_ASSETS_DIR: /srv/console-assets
      HASURA_GRAPHQL_NO_OF_RETRIES: 30
    depends_on:
      - postgis

  vze:
    tty: true
    container_name: visionzero-vze
    command: npm start
    ports:
      - 3000:3000
    hostname: vze
    build: editor
    volumes:
      - ./editor:/root/editor
  vzv:
    tty: true
    container_name: visionzero-vzv
    command: npm start
    ports:
      - 3001:3000
    hostname: vzv
    build: viewer
    volumes:
      - ./viewer:/root/viewer

  postgis:
    build: database
    env_file:
      - .env
    volumes:
      - ./database/snapshots:/snapshots
    ports:
      - 5432:5432
