.edit-toggle:hover {
  color: #20a8d8;
}

span > strong {
  line-height: 2rem;
  top: 2px;
  position: relative;
}

/* Crash Changes */

.crash-row {
  padding-top: 4px;
  padding-bottom: 4px;
}
.crash-row:hover {
  background-color: lightgray;
}

.minidiff {
  letter-spacing: 2px;
}

.minidiff--highlight {
  background-color: pink;
}

.minidiff--switchlabel {
  position: relative;
  top: -0.5rem;
  font-weight: bold;
}

.minidiff--switchrow {
  margin-top: 0.25rem;
}

.difftable-row__header {
  border-bottom: 1px solid #f0f3f5;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.crash-process-modal {
  color: black;
}

.crash-process-modal__body {
  margin-left: 1rem;
  top: -0.5rem;
  position: relative;
}

.crash-process-modal__header {
  color: black;
}

/* Recommendations */

.searchBox#css_custom_input {
  height: 0px;
  color: white;
}

.search-wrapper.searchWrapper {
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer;
}

.chip.false {
  background: white;
  color: black;
  font-size: 0.875rem;
  line-height: 21px;
  padding-bottom: 0px;
}

.custom-close {
  padding-left: 5px;
}

.icon_cancel.icon_down_dir {
  top: 0px;
  transform: none;
  padding-top: 7px;
  right: 0px;
}

.option.selected {
  background: #c8ced3;
}
