# Moped Hasura
MOPED_HASURA_ADMIN_SECRET=<Moped Hasura Admin> (Admin Secret)
MOPED_HASURA_ENDPOINT=<Moped Hasura Admin> (Endpoint)

# Vision Zero Hasura
VZ_HASURA_ADMIN_SECRET=<Vision Zero ETLs> (Admin Secret)
VZ_HASURA_ENDPOINT=<Vision Zero ETLs> (Endpoint)
