onepasswordconnectsdk==1.*
psycopg2-binary==2.*
boto3==1.*
sshtunnel==0.*
openpyxl==3.*

# The following two specific versions are needed. 
# They are borrowed from the dockerized agent vz setup.
# numpy broke its API in 1.24 wrt to type definitions.
numpy==1.23.5
pandas==1.4.4