NEXT_PUBLIC_HASURA_ENDPOINT=http://localhost:8084/v1/graphql
NEXT_PUBLIC_AUTH0_DOMAIN=atd-datatech.auth0.com
NEXT_PUBLIC_AUTH0_CLIENT_ID=<auth0-client-id>
NEXT_PUBLIC_MAPBOX_TOKEN=<mapbox-token>
NEXT_PUBLIC_NEARMAP_KEY=<nearmap-key>
NEXT_PUBLIC_CR3_API_DOMAIN=http://localhost:8085
NEXT_PUBLIC_CR3_DIAGRAM_BASE_URL=https://atd-vision-zero.s3.amazonaws.com/prod/cr3s/crash_diagrams
NEXT_PUBLIC_APP_ENV=local
NEXT_PUBLIC_BASE_PATH=/editor
NEXT_PUBLIC_VZV_ENDPOINT=http://localhost:3000/viewer
