# template for .env.test environment for running tests
# 1password: Vision Zero Editor (VZE) Test User: Read-only viewer
READ_ONLY_USER_EMAIL=
READ_ONLY_USER_PASSWORD=
# 1password: Vision Zero Editor (VZE) Test User: Editor
EDITOR_USER_EMAIL=
EDITOR_USER_PASSWORD=
# 1password: Vision Zero Editor (VZE) Test User: VZ Admin
ADMIN_USER_EMAIL=
ADMIN_USER_PASSWORD=
# Auth0 staging app metadata
AUTH0_DOMAIN="atd-datatech.auth0.com"
CLIENT_ID=2qbqz2sf8L9idBOwn0d5YA9efNgQbL7c
AUTH0_AUDIENCE=2qbqz2sf8L9idBOwn0d5YA9efNgQbL7c
