AUTH0_DOMAIN="atd-datatech.auth0.com"
CLIENT_ID="2qbqz2sf8L9idBOwn0d5YA9efNgQbL7c"
AWS_DEFAULT_REGION="us-east-1"
AWS_S3_BUCKET_ENV="dev"
AWS_S3_BUCKET="<aws-s3-bucket-name>"
AWS_S3_KEY="<aws-s3-key>"
AWS_S3_SECRET="<aws-s3-secret>"
API_CLIENT_ID="<auth0-client-id>"
API_CLIENT_SECRET="<auth0-client-secret>"
HASURA_GRAPHQL_ADMIN_SECRET=hasurapassword
HASURA_GRAPHQL_ENDPOINT=http://graphql-engine:8080/v1/graphql
