name: "Build & deploy the VZ API"

on:
  push:
    branches:
      - master
      - production
    paths:
      - ".github/workflows/deploy_vz_api.yml"
      - ".github/workflows/aws-vz-api-helper.sh"
      - "atd-cr3-api/**"
  workflow_dispatch:
    inputs:
      description:
        default: ""
jobs:
  build:
    name: Build
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"
          architecture: "x64"
      # Get the code first
      - name: "Checkout"
        uses: actions/checkout@v3
      # Then install the AWC CLI tools
      - name: "Install AWS Cli"
        run: |
          sudo apt-get install python3-setuptools
          pip3 install awscli
      # Run the shell commands using the AWS environment variables
      - name: "Build"
        env:
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          ZAPPA_SETTINGS: ${{ secrets.ZAPPA_SETTINGS }}
        run: |
          export BRANCH_NAME=${GITHUB_REF##*/}
          echo "SHA: ${GITHUB_SHA}"
          echo "ACTION/BRANCH_NAME: ${BRANCH_NAME}"
          echo "GR: ${GITHUB_REF}"
          echo "PWD: $(pwd)"
          source $(pwd)/.github/workflows/aws-vz-api-helper.sh
          deploy_aws_lambda
