AWS_DEFAULT_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
# HASURA
HASURA_ENDPOINT=
HASURA_ADMIN_KEY=
# CRIS
CRIS_CR3_DOWNLOAD_COOKIE=
# CR3
ATD_CRIS_CR3_URL=
AWS_CRIS_CR3_BUCKET_NAME=
AWS_CRIS_CR3_BUCKET_PATH=
