HASURA_GRAPHQL_ENDPOINT="http://localhost:8084/v1/graphql"
HASURA_GRAPHQL_ADMIN_SECRET=hasurapassword
SOCRATA_KEY_ID=
SOCRATA_KEY_SECRET=
SOCRATA_APP_TOKEN=
# staging datasets
SOCRATA_DATASET_CRASHES=3aut-fhzp
SOCRATA_DATASET_PEOPLE=v3x4-fjgm
