HASURA_GRAPHQL_ENDPOINT="http://localhost:8084/v1/graphql"
HASURA_GRAPQL_ADMIN_SECRET=hasurapassword
# staging datasets
SOCRATA_DATASET_CRASHES=3aut-fhzp
SOCRATA_DATASET_PERSONS=v3x4-fjgm
SOCRATA_KEY_ID=
SOCRATA_KEY_SECRET=
SOCRATA_APP_TOKEN=
